.container {
  height: 100vh;
  width: 100vw;
  background: url('../../../../public/hero.webp') 50%;
  background-size: cover;
  position: relative;
}

.container_intro {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: relative;
  z-index: 2;
}

.container_titles {
  width: 20%;
  position:absolute;
  bottom: 30%;
  right: 17%;
}

.title {
  font-size: var(--title-size);
  color: var(--white);
}
